<%tweet = Tweet.new%>
<%= form_with(model: tweet) do |form| %>

  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="relative -z-2 mb-3">
  <div class="mt-4 relative -z-2 ">
    <%= form.text_area :body, class:"resize-none w-full shadow appearance-none border rounded h-32 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Remember to thing before write..." %>
  </div>
  <div class=" absolute end-2 bottom-3 -z-2">
    <%= form.submit "Tweet", class:" bg-gray-700 hover:bg-gray-500 text-white font-normal py-1 px-4 rounded focus:outline-none focus:shadow-outline "%>
  </div>
  </div>
<!--
  <div>
    <%= form.label :replies_count, style: "display: block" %>
    <%= form.number_field :replies_count %>
  </div>

  <div>
    <%= form.label :likes_count, style: "display: block" %>
    <%= form.number_field :likes_count %>
  </div>

  <div>
    <%= form.label :parent_id, style: "display: block" %>
    <%= form.text_field :parent_id %>
  </div>
  -->
  <div class = "hidden">
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id, value: current_user.id %>
  

   </div>
<% end %>
