<p style="color: green"><%= notice %></p>

<%= render @user %>
<!--
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
-->
<script>

</script>
<button id="btn-1" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Bot贸n 1</button>
<button id="btn-2" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Bot贸n 2</button>

<div id="content-1">
  Contenido del bot贸n 1
</div>
<div id="content-2" class="hidden">
  Contenido del bot贸n 2
</div>
