<!DOCTYPE html>
<html>
  <head>
    <title>Tweetable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Tweets", root_path%>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
    <%unless current_user.nil?%>
      <div>         
        <p >Signed in as <%=current_user.username%></p>
      </div>
    <%end%>
    <% if user_signed_in?%>
    <%= link_to "Profile", current_user%>
    <%end%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
     <div class="flex flex-col md:max-w-4xl mx-auto justify-around ">
        <%= yield %>
        </div>
  </body>
</html>
