<!DOCTYPE html>
<html>
  <head>
    <title>Tweetable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body class="bg-gray-100 grid w-full">
    <header>
      <style>
        .dropdown:focus-within .dropdown-menu {
          opacity:1;
          transform: translate(0) scale(1);
          visibility: visible;
        }
      </style>
      
      <div class="max-w-screen-xl flex justify-between mx-auto p-4 pl-0 pr-2 items-center">
       <a href="/" class="flex items-center">
        <img src="https://www.seekpng.com/png/detail/140-1402510_twitter-logo-white-twitter-logo-svg.png" class="h-8 mr-0" />
        <span class="self-center text-xl font-semibold whitespace-nowrap text-black">{<span class ="text-gray-400">Tweet</span>able}</span>
       </a>
        
        <div class=" relative inline-block text-left dropdown ">
      <span class="rounded-md shadow-sm "
      ><button class="relative z-10 block bg-gray-100 rounded mr-2 focus:outline-none "
       type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
        <%# <span>Options</span> %>
        
         <svg height="20px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2 s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2 S29.104,22,28,22z"/></svg>
        </button
      ></span>
      <div class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95 relative z-10 ">
      <div class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-2xl outline-none" aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
          <%unless current_user.nil?%>
        <div class="px-4 py-3 ">         
          <p class="text-sm leading-5">Signed in as</p>
          <p class="text-sm font-semibold leading-5 text-gray-900 truncate"><%=current_user.username%></p>
        </div>
          <%end%>
        <div class="py-1">
          <p tabindex="0" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-center"  role="menuitem">Thanks for using Tweetable!</p>
          <% if user_signed_in?%>
            <p tabindex="0" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-center"  role="menuitem" >
              <%= link_to "Profile", current_user%>
            </p>
          <%end%>
          <%# <a href="/games" tabindex="1" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-center"  role="menuitem" >Games</a>
          <a href="/companies" tabindex="2" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-center" role="menuitem" >Companies</a></div> %>
          <span role="menuitem" tabindex="-1" class="flex justify-between w-full px-4 py-2 text-sm leading-5 text-center text-gray-700" aria-disabled="false">
            <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
          </span>
        <%# <div class="py-1">
          <a href="javascript:void(0)" tabindex="3" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"  role="menuitem" >Sign out</a></div>
      </div> %>
      </div>
      </div>
    </header>
    <%if alert%>
    <div class=" px-4 py-3 max-w-md mx-auto" role="alert">

  
      <div id="alert-2" class="flex p-4 mb-4 text-red-400 rounded-lg bg-gray-700" role="alert">
      <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <span class="sr-only">Info</span>
      <div class="ml-3 text-sm font-medium">
        <%= alert %>
    </div>
    </div>

    </div>
     
    <%end%>
   
     <%if notice%>
    <div class=" px-4 py-3 w-xl mx-auto" role="alert2">
      <div id="alert-2" class="flex p-4 mb-4 rounded-lg bg-gray-800 text-green-400"  role="alert2">
      <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <span class="sr-only">Info</span>
      <div class="ml-3 text-sm font-medium">
        <%= notice %>
    </div>
    </div>
    </div>
    <%end%>
     <div class="max-w-md mx-auto justify-center px-3">
        <%= yield %>
        </div>
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8 items-center text-sm">
    <p class="flex justify-around items-center font-medium text-gray-800 mb-5">© 2023 - Codeable Tweetable</p>
      <p class="flex justify-around items-center font-medium text-gray-800 mb-5">Build with &#9829 by KevinQuispe</p>
    </div>
  </body>
</html>
